@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    box-sizing: border-box;
    background-color: rgb(45, 43, 43);
    border-radius: 3px;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: black;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background-color: rgb(45, 43, 43);
    padding: 10px;
    border-radius: 3px;
}

#resetButton {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    background-color: rgb(45, 43, 43);
    color: green;
    border: 2px inline black;

}

h1 {
    padding: 30px;
    font-size: 50px;
    font-family: 'Press Start 2P', cursive;
    color: green;
}

#slider {
    background-color: green;
    color: green;
}

