* {
    margin: 0;
    padding: 0;
}

#gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}
.gridElement {
    border: 2px solid black;
    box-sizing: border-box;
}